on init
    # Relabel MITEE/TEE/keystore binaries so init can start them
    restorecon -F /vendor/bin/tee-supplicant
    restorecon -F /vendor/bin/hw/android.hardware.gatekeeper-service.mitee
    restorecon -F /vendor/bin/hw/android.hardware.security.keymint@4.0-service.mitee
    restorecon -F /system/bin/keystore2
    restorecon -F /system/bin/gatekeeperd
    restorecon -F /vendor/bin/init.insmod.sh

    start tee-supplicant
    start mtk_storageproxyd

    # Give TEE a moment to initialize
    wait /dev/mitee 5

    enable vendor.keymint-mitee
    start vendor.keymint-mitee
    start vendor.gatekeeper_mitee
    start keystore2

on property:twrp.all.users.decrypted=true
    stop keystore2
    stop vendor.gatekeeper_mitee
    stop vendor.keymint-mitee
    stop mtk_storageproxyd
    stop tee-supplicant
