on init
    start mtk_storageproxyd
    enable tee-supplicant
    start tee-supplicant
    wait /dev/mitee 5
    enable vendor.keymint-mitee
    start vendor.keymint-mitee
    enable vendor.gatekeeper_mitee
    start vendor.gatekeeper_mitee
    start keystore2
    start gatekeeperd

on property:twrp.all.users.decrypted=true
    stop keystore2
    stop vendor.gatekeeper_mitee
    stop vendor.keymint-mitee
    stop tee-supplicant
    stop mtk_storageproxyd
    stop gatekeeperd
