on init
    start tee-supplicant
    start mtk_storageproxyd
    
    # Give TEE a moment to initialize
    wait /dev/mitee 5

    enable vendor.keymint-mitee
    start vendor.keymint-mitee
    start vendor.gatekeeper_mitee
    start keystore2

on property:twrp.all.users.decrypted=true
    stop keystore2
    stop vendor.gatekeeper_mitee
    stop vendor.keymint-mitee
    stop mtk_storageproxyd
    stop tee-supplicant
